<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	<div id="chat">
	    <ul id="message">
	        <li v-for="message in messages" :key="message.id">{{ message }}</li>
	    </ul>
	    <form @submit="send">
	        <input type="text" v-model="message">
	        <button>Send</button>
	    </form>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
	<script>
		var socket = io();

		new Vue({
		    el:'#chat',
		    data: {
		        messages: [],
		        message: '',
		    },
		    mounted: function() {
		        socket.on('chat.message', function(message) {
		            this.messages.push(message);
		        }.bind(this));
		    },
		    methods: {
		        send: function(e) {
		            socket.emit('chat.message', this.message);
		            this.message = '';
		            e.preventDefault();
		        }
		    }
		})
	</script>
    
</body>
</html>